/*common shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.primary-color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

/*Header Related Styles*/
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 70px 80px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 480px;
}
.banner .profile-pic{
    width: 450px;
}